h2{
    color:brown;
}

#result{
    background-color:aqua;
    color:blue;
      border-radius:4px;
      font-size:larger;
      text-align: right;
      width:250px;
}

#button{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   width:250px;
   height:40px;
   
}

#container
{
    align-self:center;
    border: solid block ;
}